{% extends "base.html" %}

{% block optional_code %}
    <link rel="stylesheet" href="/static/css/w3original.css"/>
    <link rel="stylesheet" href="/static/css/class_modules.css">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/class_modules.js"></script>
{% endblock %}

{% block navbar %}
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
            <a href="/class" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Class Information</a>
            <a href="/modules" class="w3-bar-item w3-button w3-padding-large w3-white">Modules</a>
        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
            <a href="/class" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Class Information</a>
            <a href="/modules" class="w3-bar-item w3-button w3-padding-large w3-white">Modules</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content w3-margin-bottom w3-blue">
            <h1 class="w3-center w3-xxlarge">Module Files per Week</h1>
        </div>
    </div>

    <div class="w3-row-padding w3-padding-64 w3-container">
        <button class="collapsible">Week 1</button>
        <div class="content">
            <div class="w3-card-2">
                <div class="w3-container">
                    <p>Command line Guide for Windows and MAC/Linux: <a href="http://people.cs.ksu.edu/~caguirre97/files/CommandGuide.txt" download>CommandGuide.txt</a></p>
                    <p>Tuesday Presentation: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk1tue.pptx" download>wk1tue.pptx</a></p>
                    <hr>
                    <p>Thursday Presentation: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk1thu.pptx" download>wk1thu.pptx</a></p>
                    <p>Thursday notes: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk1tues.py" download>wk1thu.py</a></p>
                    <p>Thursday Lecture: </p>
                    <video class="video" width="520" height="315" controls>
                        <source src="http://people.cs.ksu.edu/~caguirre97/videos/wk1thu.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        <button class="collapsible">Week 2</button>
        <div class="content">
            <div class="w3-card-2">
                <div class="w3-container">
                    <p>Tuesday notes: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk2tues.py" download>wk2tues.py</a></p>
                    <p>Tuesday Lecture:</p>
                    <video class="video" width="520" height="315" controls>
                        <source src="http://people.cs.ksu.edu/~caguirre97/videos/wk2Tues.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <hr>
                    <p>Thursday Presentation: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk2thurs.pptx" download>wk2thu.pptx</a> </p>
                    <p>Thursday notes: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk2thurs.py" download>wk2thurs.py</a></p>
                    <p>Thursday Lecture:</p>
                    <video class="video" width="520" height="315" controls>
                        <source src="http://people.cs.ksu.edu/~caguirre97/videos/wk2thurs.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>
            </div>
        </div>
        <button class="collapsible">Week 3</button>
        <div class="content">
            <div class="w3-card-2">
                <div class="w3-container">
                    <p>Tuesday presentation: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk3tues.pptx" download>wk3tues.pptx</a></p>
                    <p>Tuesday notes: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk3tues.py" download>wk3tues.py</a></p>
                    <p>Tuesday Lecture</p>
                    <video class="video" width="520" height="315" controls>
                        <source src="http://people.cs.ksu.edu/~caguirre97/videos/wk3tues.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <hr>
                    <p>Thursday presentation: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk3thurs.pptx" download>wk3thurs.pptx</a></p>
                    <p>Thursday notes: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk3thurs.py" download>wk3thurs.py</a></p>
                    <p>Thursday Lecture</p>
                    <video class="video" width="520" height="315" controls>
                        <source src="http://people.cs.ksu.edu/~caguirre97/videos/wk3thurs.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        <button class="collapsible">Homework 1</button>
        <div class="content">
            <div class="w3-card-2">
                <div class="w3-container">
                    <h4>Guessing Game</h4>
                    <hr>
                    <b>GOALS:</b>
                    <p>For this assignment, we will learn the basics of working with user input, conditional statements and very simple loops.  Also, as a part of this assignment, we will be using the "random" library from Python in order to call the randint() function.</p>
                    <p><b>Remember from class, this function can be called once you have imported random and then you can call the function by <code>random.randint(< param1 >, < param2 >)</code></b></p>
                    <hr>
                    <b>Requirements:</b>
                    <ol>
                        <li>Create a guessing game that generates a random number from 0 to the size that the user would like to play with.  For input 10, numbers from 0 to 10 should be available in the game.</li>
                        <li>Loop until the user answers correctly.  You will need to take in new user input each time through the loop in order to check and see if the user got the answer correct.</li>
                        <li>Give the user hints as to whether their guess was too high or too low relative to the secret number.</li>
                        <li>Put an outer loop around the "guessing" portion of the game asking the user if they would like to start another game.</li>
                    </ol>
                    <hr>
                    <p>Homework Instructions: <a href="http://people.cs.ksu.edu/~caguirre97/files/guess_game_assignment.txt" download>guess_game.txt</a></p>
                    <p>Game play screen shot: <a href="http://people.cs.ksu.edu/~caguirre97/images/guess_game_screenshot.png" download>guess_game.png</a></p>
                </div>
            </div>
        </div>
        <button class="collapsible">Week 4</button>
        <div class="content">
            <div class="w3-card-2">
                <div class="w3-container">
                    <p>Tuesday presentation: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk4tues.pptx" download>wk4tues.pptx</a></p>
                    <p>Tuesday notes: <a href="http://people.cs.ksu.edu/~caguirre97/files/wk4tues.py" download>wk4tues.py</a></p>
                    <p>Tuesday Lecture</p>
                    <video class="video" width="520" height="315" controls>
                        <source src="http://people.cs.ksu.edu/~caguirre97/videos/wk4tues.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

